.container {
    background-color: wheat;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 500px;
}

.item {
    flex-grow: 1;
    padding: 30px;
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    box-sizing: border-box;
}
.item-1 {
    background-color: teal;
}
.item-2 {
    background-color: tomato;
}
.item-3 {
    background-color: tan;
}